<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head.ejs')%>
    <link rel="stylesheet" href="../css/localStyles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Local</title>
</head>
<body>
    <%-include('./partials/header.ejs')%>

    <div class="map-container">        
        <div class="map big">            
            <h3>¿Dónde estamos?</h3>
            <p class="adress">Pedro Nolasco Rodriguez 1174, Urca, Córdoba</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3406.1472974778794!2d-64.24144122477604!3d-31.382501794613407!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x943298d59a184c2d%3A0x1c25a65236845a63!2sPedro%20Nolasco%20Rodriguez%201174%2C%20C%C3%B3rdoba!5e0!3m2!1ses-419!2sar!4v1717530668329!5m2!1ses-419!2sar" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="map medium">
            <h3>¿Dónde estamos?</h3>
            <p class="adress">Pedro Nolasco Rodriguez 1174, Urca, Córdoba</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3406.147130474601!2d-64.2388663!3d-31.382506399999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x943298d59a184c2d%3A0x1c25a65236845a63!2sPedro%20Nolasco%20Rodriguez%201174%2C%20C%C3%B3rdoba!5e0!3m2!1ses-419!2sar!4v1717531914482!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="map small">
            <h3>¿Dónde estamos?</h3>
            <p class="adress">Pedro Nolasco Rodriguez 1174, Urca, Córdoba</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3406.147130474601!2d-64.2388663!3d-31.382506399999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x943298d59a184c2d%3A0x1c25a65236845a63!2sPedro%20Nolasco%20Rodriguez%201174%2C%20C%C3%B3rdoba!5e0!3m2!1ses-419!2sar!4v1717531914482!5m2!1ses-419!2sar" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        
    </div>


    <%-include('./partials/footer.ejs')%>    
</body>
</html>