<footer>

    <div class="footer-top">
        <div class="left-container">
            <div class="footer-img-container">
                <img src="/images/SantaBarberia-white.png" alt="Santa Barberia logo">
            </div>
            <a class="footer-appointment" href="/turnos">TURNOS</a>
        </div>
        <div class="right-container">
            <h3>Nuestros horarios</h3>
            <p class="days">Lunes - Viernes</p>
            <p class="hours">09:00 - 18:00</p>
            <p class="days">Sábados</p>
            <p class="hours">09:00 - 13:00</p>
            <p class="days">Domingos</p>
            <p class="hours">Cerrado</p>

        </div>

    </div>

    <div class="footer-bottom">
        <p>Santa Barberia - Todos los derechos reservados</p>
    </div>
    

</footer>
<script src="/js/header.js"></script>